body {
  padding: 50px;
  background-color: aliceblue;
}
h2 {
  color:dimgray;
}
.App {
  display: flex;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  background-color: silver;
  padding: 10px; 
  border-radius: 100px;
}

.container {
  width: 30%;
  background-color: silver;
  position: relative;
  height: 120hv;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  margin-left: 20px;
}

img {
  border-radius: 100px;

}

.foto {
  border-radius: 100px;
}